@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wdth@0,75..100;1,75..100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 38px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.text--purple {
    color: #6030b1;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
}

.nav__link--anchor--primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: #fff;
    transition: all 300ms ease;
}

.nav__link--anchor--primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    margin: 0 12px;
    font-weight: bold;
    color: #6030b1;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;
    height: 100%;

    /* Improving my own image */
    transform: scale(1.5);
    padding-top: 8px;
}

.about-me__info--title {
   margin-bottom: 16px;
}

.about-me__info--para {
   font-size: 20px;
   margin-bottom: 28px;
}




