@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wdth@0,75..100;1,75..100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 38px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.text--purple {
    color: #6030b1;
}

.section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
}

.nav__link--anchor--primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: #fff;
    transition: all 300ms ease;
}

.nav__link--anchor--primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    margin: 0 12px;
    font-weight: bold;
    color: #6030b1;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;
    height: 100%;

    /* Improving my own image */
    transform: scale(1.5);
    padding-top: 8px;
}

.about-me__info--title {
   margin-bottom: 16px;
}

.about-me__info--para {
   font-size: 20px;
   margin-bottom: 28px;
}

.about-me__link {
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
    padding: 40px;
}

/* TECH - STACK */

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}


.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language__name {
    position: absolute;
    bottom: 0;
    transition: all 300ms;
    font-size: 20px;
    transform: scale(0);
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

    